.home {
    &__container {
        height: 100vh;
    }

    &__content {
        text-align: center;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__blurb {
        margin-bottom: 40px;
    }

    &__button {
        margin: 0 10px;
    }
}