body {
    &::before {
        content: 'MAX RULES';
        color: orange;
        font-size: 30px;
        display: flex;
        transform: translateX(100px);
        border: {
            color: green;
            width: 2px;
            style: solid;
        }
    }
}